<header>
    <div class="container header-flex">
        <div class="header-logo">
            <!-- TODO - Add logo size option to theme options -->
            {% if logo_url and settings.show_company_logo %}
                    <a href="{{ '/'|link }}">
                        <img src="{{ logo_url }}" alt="{{ company.name }}" height="40px" title="{{ company.name }}">                        
                    </a>
                {% else %}
                    <a href="{{ '/'|link }}">
                        <span>{{ company.name }}</span>
                    </a>
                {% endif %}
        </div>

        <div id="header-controls" aria-label="User options">
            <ul class="header-controls-menu">
 
 {% set languages = guest.extension_languages(true) %}
{% if languages|length > 1 %}
  <li class="language-menu dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-language" aria-hidden="true"></i>
      {{ 'Language'|trans }}
    </a>
    <ul class="dropdown-menu">
      {% for lang in languages %}
  {% set parts = lang.locale|split('_') %}
  {% set country = parts[1]|default('us')|lower %}
  <li>
    <a class="dropdown-item language_selector" href="#" data-locale="{{ lang.locale }}">
      <span class="fi fi-{{ country }}"></span>
      {{ lang.title|split(' (')[0] }}
    </a>
  </li>
{% endfor %}
    </ul>
  </li>
{% endif %}



                        

                {% if settings.header_balance_enabled and client %}
                <li>
                    {{ 'Balance'|trans }}<br />
                    {{ profile.balance | money(profile.currency) }}
                </li>
                {% endif %}

                {% if settings.top_menu_profile %}
                <li>
                    {% if not client %}
                        <a class="nav-link" href="{{ 'login'|link }}">{{ 'Login'|trans }}</a>
                    {% endif %}
                </li>
                {% endif %}

                

                {% if settings.top_menu_signout %}
                    {% if client %}
                        <li class="dropdown">
                            <div class="dropdown-toggle">
                                <img class="avatar" alt="{{ profile.first_name }} {{ profile.last_name }} gravatar" src="{{ profile.email|gravatar(60) }}">
                                <span>
                                    {% if profile.company %}
                                        {{ profile.first_name }} {{ profile.last_name }}<br />({{ profile.company }})
                                    {% else %}
                                        {{ profile.first_name }} {{ profile.last_name }}
                                    {% endif %}
                                </span>
                                <span class="caret"></span>
                                    </div>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ 'client/profile'|link }}">{{ 'Profile'|trans }}</a></li>
                                            <li><a href="{{ 'client/logout'|link }}">{{ 'Sign out'|trans }}</a></li>
                                        </ul>
                        </li>
                    {% else %}
                        <li>
                            <a class="btn btn-outline-primary" href="{{ 'signup'|link }}">{{ 'Register'|trans }}</a>
                        </li>
                    {% endif %}
                {% endif %}

            </ul>
        </div>
    </div>     
</header>